html{
    zoom: 100%;
}

body{
    display: flex;
    margin: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

*{
    margin: 0px;
}


@font-face{
    font-family: 'Lato-BoldItalic';
    src: url("../fonts/Lato-BoldItalic.ttf");
    font-weight: 400;
}
    
@font-face{
    font-family: 'Lato-Bold';
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: 400;
}
    
@font-face{
    font-family: 'Lato-Light';
    src: url("../fonts/Lato-Light.ttf");
    font-weight: 400;
}
    
@font-face{
    font-family: 'Lato-Regular';
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
}

ul{
    padding: 0;
}

.upperHead{
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #222;
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 38px;
}

.searchButton{
    margin-left: 41px;
    background-color: #222;
    box-shadow:#fbfbfb ;
    text-decoration: none;
    border: 2px;
    border-color: #000;
}

.searchButton:hover {
	transition: 200ms ease-in-out;
    background-color: white;
}

.menuButtons{
    margin-left: 859px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 160px;
}

.upperButtonMenu{
    position: relative;
    background-color: #222;
    box-shadow:#fbfbfb ;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    fill: white;
}

.upperButtonMenu svg:hover {
	fill: rgb(255, 109, 216);
}

.navigationMenuList{
    display: none;
    height: 0px;
    transition: height 0.5s;
    width: 232px;
    height: 634px;
    position: absolute;
    background: #FFF;

}

.upperButtonMenu:hover .navigationMenuList{
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    width: 232px;
    height: 634px;
    position: absolute;
    background: #FFF;
    z-index: 2;
}

.upperButtonMenu::before .navigationMenuList{
    display: block;
    width: 232px;
    height: 634px;
    position: absolute;
    background-color: #000;
}


.navigationMenuListHead{
    color: #000;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 4px;
    margin-left: 33px;
    text-align: start;
}

.navigationMenuListChapter{
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-left: 33px;
    text-align: start;
}

.navigationMenuListItem{
    color: #6F6E6E;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 11px;
    margin-left: 53px;
    text-align: start;
}

.navigationMenuListItem:hover{
    color: #F16D7F;
}

.upperButtonProfile{
    background-color: #222;
    box-shadow:#fbfbfb ;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    fill: white;
}

.upperButtonProfile svg:hover{
    fill: rgb(255, 109, 216);
}

.upperButtonShop{
    background-color: #222;
    box-shadow:#fbfbfb ;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    fill: white;
}

.upperButtonShop svg:hover{
    fill: rgb(255, 109, 216);
}




.topFrame{
    display: flex;
    height: 764px;
    background-color: #F1E4E6;
    width: 100%;
    justify-content: center;
}

.topFramePositions{
    display: flex;
    align-items: center;
    justify-content:center;
}

.bigManPhoto{
    margin-top: 5px;
    width: 801px;
    height: 764px;
    
}




.bigTextHeader{
    background-color: #F1E4E6;
    padding-left: 16px;
    margin-left: 70px;
    border-left-color: #F16D7F;
    border-left-style: solid;
    border-width: 12px;
    width: 380px;
    height: 93px;
    
}

.theBrand{
    color: #222;
    font-family: 'Lato-Bold';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.underTheBrandLine{
    display: inline;
    white-space: nowrap;
    color: #222;
    font-family: 'Lato-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.underTheBrandPink{
    color: #F16D7F;
}



.bottomFrame{
    display: flex;
    width: 100%;
    height: 2086px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

.catalogSections{
    margin-top: 60px;
    height: 470px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    
}

.mainCatalogFrame{
    display: flex;
    height: 570px;
    width: 1140px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.photoFrame{
    max-width: 1400px;
    max-height: 260px;
    position: relative;
    background-color: #211616;
    opacity: 1;
}

.photoFrame:hover{
    opacity: 1;
    background-color: none;
}

.photoFrame:hover img{
    opacity: 1;
}

.photoFramePictureTop{
    width: 360px;
    height: 260px;
    border: 0;
    opacity: 0.6;
}

.photoFramePictureBottom{
    width: 1140px;
    height: 180px;
    border: 0;
    opacity: 0.6;
}

.photoFrameText{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 170px;
}

.photoFrameTextTop{
    color: #FFF;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.photoFrameTextBottom{
    color: #F16D7F;
    font-family: 'Lato-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

.featuredItems{
    margin-top: 96px;
    height: 59px;
    width: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuredItemsTop{
    color: #222;
    font-family: 'Lato-Regular';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featuredItemsBottom{
    color: #9F9F9F;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lineItems{
    margin-top: 48px;
    width: 1140px;
    height: 1187px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.frameItem{
    width: 361px;
    height: 586px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.maskPhoto{
    opacity: 1;
    z-index: 0;
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maskPhoto:hover{
    opacity: 1;
    z-index: 1;
    background-color: #000;
    width: 360px;
    height: 420px;
}

.maskPhoto:hover button{
    opacity: 1;
    z-index: 1;
}

.maskPhoto:hover img{
    z-index: 0;
}

.addToCard{
    width: 139px;
    height: 44px;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 251, 251);
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    border: solid;
}

.addToCardText{
    margin-left: 11px;
    color: #FFF;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frameItemPicture{
    width: 360px;
    height: 420px;
    position: relative;
}

.frameItemPicture:hover{
    opacity: 0.5;
    z-index: 0;
}

.itemInfo{
    display: flex;
    width: 328px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.itemName{
    color: #000;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.itemDesc{
    color: #5D5D5D;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.itemPrice{
    color: #F16D7F;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.browseAllProduct{
    width: 212px;
    height: 48px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 106, 106, 1);
    color: rgba(255, 106, 106, 1);
    border-width: 1px;
    background-color: white;
    border: solid;
    
}

.browseAllProduct:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(241, 109, 127, 1);
    border-color: rgba(241, 109, 127, 1);
    
}

.advantages{
    width: 100%;
    height: 341px;
    background-color: #222224;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.advantagesFrame{
    width: 360px;
    height: 134px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.advantagesFramePicture{
    max-width: 47px;
    height: 40px;
}

.advantagesFrameHeader{
    color: #FBFBFB;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
}

.advantagesFrameDescription{
    color: #FBFBFB;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
}

.contactUs{
    height: 448px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsBackground{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.contactUsImage{
    width: 100%;
}




.citationDirector{
    display: flex;
    width: 360px;
    height: 225px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 111px;
}

.Director{
    max-width: 96px;
    max-height: 96px;
}

.contactUsCitation{
    color: #222224;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactUsCitationItalic{
    color: #222224;
    font-family: 'Lato-Italic';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.contactUsEmail{
    margin-left: 111px;
    width: 557px;
    height: 142px;
    border-color: #000;
    border: 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contactUsEmailPrint{
    height: 61px;
    width: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactUsEmailHeader{
    color: #222224;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%; /* 40.128px */
}

.contactUsEmailText{
    color: #222224;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.contactUsEmailButton{
    width: 356px;
    height: 49px;
    display: flex;
    gap: 0px;
    align-items: center;
}

.contactUsEmailButtonIn{
    position: relative;
    width: 256px;
    height: 49px;
    display: flex;
}

.contactUsEmailInput{
    position: relative;
    width: 256px;
    max-height: 49px;
    padding-left: 22px;
    background-color: #E1E1E1;
    border: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #222224;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.contactUsEmailInputText{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-100%, -50%);
    z-index: 1;
    color: #222224;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribeButton{
    position: relative;
    width: 100px;
    height: 49px;
    color: #FFF;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #E05C6E;
    border-color: #E05C6E;
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: 0;
}

.foot{
    background-color: #000;
    height: 79px;
    width: 100%;
    display: flex;
    gap: 655px;
    align-items: center;
    justify-content: center;
}

.footRightsReserved{
    color: #FBFBFB;

    font-family: 'Lato-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 332px;
    height: 19px;
}

.footSocialMedia{
    height: 32px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.footSocialMediaFrame{
    background-color: white;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: black;
}

.footSocialMediaFrame svg{
    fill: black;
    stroke: black;
}

.footSocialMediaFrame:hover{
    background-color:#F16D7F;
}

.footSocialMediaFrame svg:hover{
    fill: white;
    stroke: white;
}


































































@media screen and (max-width: 1339px){
html{
    zoom: 100%;
}

body{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menuButtons{
    margin-left: 424px;
    display: flex;
}

.topFrame{
    height: 368px;
}

.bigManPhoto{
    width: 386px;
    height: 368px;
    
}

.bigTextHeader{
    display: flex;
    margin-left: 39px;
    width: 283px;
    height: 78px;
    flex-wrap: wrap;
    
}

.underTheBrandLine{
    display: inline;
    font-size: 24px;
}

.underTheBrandPink{
    color: #F16D7F;
    display: inline;
}



.bottomFrame{
    display: flex;
    height: 2535px;
}

.catalogSections{
    height: 303px;
    max-width: 736px;
    display: flex;
    flex-direction: column;
}

.mainCatalogFrame{
    height: 303px;
    width: 734px;
    gap: 19px;
}

.photoFrame{
    max-width: 734px;
    max-height: 232px;
}

.photoFramePictureTop{
    width: 232px;
    height: 167px;
}

.photoFramePictureBottom{
    width: 734px;
    height: 116px;
}

.featuredItems{
    margin-top: 110px;
    height: 53px;
    width: 336px;
}


.lineItems{
    margin-top: 73px;
    width: 736px;
    height: 1777px;
}

.frameItem{
    width: 360px;
    height: 581px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.browseAllProduct{
    margin-top: 32px;    
}







.advantages{
    height: 610px;
    gap: 48px;
    flex-direction: column;
}

.contactUs{
    height: 614px;
    display: flex;
    flex-direction: column;
}

.citationDirector{
    margin-bottom: 48px;
    margin-right: 0px;
    display: flex;
}



.contactUsEmail{
    margin-left: 0px;
}

.foot{
    gap: 300px;
    height: 75px;
}

.footRightsReserved{
    width: 251px;
}

}














































@media screen and (max-width: 767px){

html{
    zoom: 100%;
}

body{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menuButtons{
    margin-left: 200px;
    display: flex;
    gap: 0px;
    max-width: 40px;
}

.upperButtonMenu{
    margin-left: 0px;
    padding: 0px;
}

.upperButtonProfile{
    display: none;
}

.upperButtonShop{
    display: none;
}


.topFrame{
    height: 363px;
}

.bigManPhoto{
    width: 0px;
    height: 0px;
}




.bigTextHeader{
    width: 248px;
    height: 66px;
}

.theBrand{
    font-size: 38px;
}

.underTheBrandLine{
    font-size: 20px;
}



.bottomFrame{
    height: 4929px;
}

.catalogSections{
    margin-top: 60px;
    height: 948px;
    max-width: 343px;
}

.mainCatalogFrame{
    height: 948px;
    width: 343px;
}

.photoFrame{
    max-width: 343px;
    max-height: 247px;
}

.photoFramePictureTop{
    width: 343px;
    height: 247px;
}

.photoFramePictureBottom{
    width: 343px;
    height: 111px;    
}

.photoFrameText{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 170px;
}

.featuredItems{
    margin-top: 64px;
    height: 54px;
    width: 336px;
}

.lineItems{
    margin-top: 65px;
    width: 360px;
    height: 3560px;
}

.frameItem{
    width: 360px;
    height: 580px;
}

.frameItemPicture{
    width: 360px;
    height: 420px;
}





.advantages{
    flex-direction: column;
}

.contactUs{
    height: 614px;
    display: flex;
    flex-direction: column;
}

.citationDirector{
    margin-bottom: 48px;
    margin-right: 0px;
    display: flex;
}


.contactUsCitation{
    color: #222224;
    text-align: center;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactUsCitationItalic{
    color: #222224;
    font-family: 'Lato-Italic';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.contactUsEmail{
    margin-left: 0px;
}

.foot{
    gap: 40px;
    height: 143px;
}

.footRightsReserved{
    width: 251px;
}





}